.property-address {
  z-index: 2;
}

.property-img-container {
  width: 100%;
  background-color: #E1EFF6;
}

.property-img {
  height: 300px;
  z-index: 1;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.property-address {
  height: 300px;
  text-align: center;
}

.property-address h3 {
  margin-top: 100px;
}

.property, .property-description {
  margin-bottom: 30px;
}

.rating, .total-beds {
  margin-bottom: 10px;
}

.contact-button {
  vertical-align: bottom;
}

.button {
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 0;
}

.top-bar, .top-bar ul {
  background-color: #ffffff;
}

.top-bar .dropdown.menu .has-submenu {
  width: 400px;
}

.room-link {
  font-size: 18px;
}

.room-link:hover, .room-selected {
  background-color: #E1EFF6;
}

.paw, .icon {
  height: 65px;
  padding: 0;
}

.fi-paw, .fi-sheriff-badge, .fi-torsos, .fi-crown, .fi-key {
  font-size: 60pt;
  margin-right: 10px;
  vertical-align: top;
}

.facilities {
  list-style-type: none;
}


