.property-address {
  z-index: 2;
}

.property-img {
  z-index: 1;
}

.rating, .total-beds {
  margin-bottom: 10px;
}

.contact-button {
  vertical-align: bottom;
}

.button {
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 0;
}

.paw, .icon {
  height: 65px;
  padding: 0;
}

.fi-paw, .fi-sheriff-badge, .fi-torsos, .fi-crown, .fi-key {
  font-size: 60pt;
  margin-right: 10px;
  vertical-align: top;
}

.facilities {
  list-style-type: none;
}


